name: Python CI

on:
  push:
    branches: [ master ]
    paths:
      - "server/**"
      - ".github/workflows/python-ci.yml"
  pull_request:
    branches: [ master ]
    paths:
      - "server/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r server/requirements-dev.txt
          pip install pytest
      - name: Run tests
        run: |
          pytest